.Page {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--background-card);

  .Form {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 14px;
    padding: 16px;
  }

  .Footer {
    padding: 12px 16px;
  }
}
