.Layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--background-surface);
}

.Content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.TabBar {
  position: sticky;
  bottom: 0;
  display: flex;
  padding: 8px 0 calc(8px + env(safe-area-inset-bottom));
  border-top: 1px solid var(--divider-primary);
  background-color: var(--background-primary);
}

.Tab {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  color: var(--icon-tertiary);
  text-decoration: none;
}

.TabActive {
  color: var(--button-primary);
}
