.Page {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  padding: 16px 16px 24px;
}

.Title {
  margin: 0;
}

.Grow {
  flex: 1;
  min-width: 0;
}

.Footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 16px 24px;
  background-color: var(--background-surface);
  text-align: center;
}
