.Page {
  flex: 1;
  gap: 20px;
  padding: 16px 16px 24px;

  h2 {
    margin: 0;
  }

  .Grow {
    flex: 1;
    min-width: 0;
  }

  .Ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .Summary {
    position: relative;
    overflow: hidden;
    padding: 12px;
    border-radius: 16px;
    background-color: color-mix(
      in srgb,
      var(--button-primary) 10%,
      transparent
    );
  }

  .Panel {
    overflow: hidden;
    border-radius: 16px;
    background-color: var(--background-card);
  }
}
