.Stars {
  display: flex;
  gap: 12px;
}

.Button {
  display: flex;
  margin: -6px;
  padding: 6px;
  border: none;
  background: none;
  cursor: pointer;
}

.Star {
  color: var(--controls-inactive);
}

.Star.filled {
  color: var(--button-primary);
}
