.BackBar {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px 12px;
  border-bottom: 1px solid var(--divider-secondary);
  background-color: var(--background-primary);
  color: var(--text-themed);
}

.Arrow {
  display: flex;
  transform: rotate(180deg);
}
