.Section {
  h2 {
    margin: 0;
  }
}

.Card,
.Options {
  overflow: hidden;
  border-radius: 16px;
  background-color: var(--background-card);
}

.Options {
  background-color: var(--background-secondary);
}

.SheetTitle {
  margin: 0;
}

.Error {
  color: var(--text-negative);
}
