.Page {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
  padding: 16px 16px 24px;

  &.mapped {
    padding-bottom: 0;
  }

  h1 {
    margin: 0;
  }

  .Grow {
    flex: 1;
    min-width: 0;
  }

  .Row {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 16px;
    background-color: var(--background-card);
  }

  .Panel {
    overflow: hidden;
    border-radius: 16px;
    background-color: var(--background-card);
  }

  .CellIcon {
    color: var(--icon-primary);
  }
}

.Header {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.Views {
  display: flex;
  flex-shrink: 0;
  gap: 8px;
}

.Org {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: flex-start;
  color: inherit;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    inset: -14px 0;
  }
}
