**/*.cover
**/*.log
**/*.pyc
**/*.pyd
**/*.pyo
**/.DS_Store
**/.Python
**/.cache
**/.coverage
**/.coverage.*
**/.env
**/.env.*
**/.git
**/.github
**/.gitignore
**/.hypothesis
**/.idea
**/.mypy_cache
**/.nox
**/.pytest_cache
**/.ruff_cache
**/.tox
**/.venv
**/.vscode
**/__pycache__
**/coverage.xml
**/env
**/htmlcov
**/venv
**/Dockerfile
**/Makefile
**/README.md
**/docker-compose*.yml
**/justfile
**/.bumpversion.cfg
**/.pre-commit-config.yaml
**/tests
**/.superpowers
**/graphify-out
content/
