.Panel {
  overflow: hidden;
  border-radius: 16px;
  background-color: var(--background-card);
}

.Note {
  margin-top: 8px;
  padding: 12px;
  border-radius: 16px;
  background-color: var(--controls-inactive);
}

.NoteIcon {
  flex-shrink: 0;
  color: var(--icon-tertiary);
}

.Amount {
  margin-right: 8px;
}
