.Title {
  margin: 0;
}

.Link {
  padding: 12px;
  border-radius: 16px;
  background-color: var(--background-accent-neutral-fade-secondary);
}

.Deeplink {
  overflow-wrap: anywhere;
  user-select: text;
}

.Error {
  color: var(--text-negative);
}
