.Pair {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.Tile {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  aspect-ratio: 1;
  border-radius: 12px;
  background-color: var(--background-tertiary);

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.Empty {
  color: var(--icon-tertiary);
}
