.Tile {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.medium {
  width: 40px;
  height: 40px;
}

.large {
  width: 44px;
  height: 44px;
}

.xlarge {
  width: 72px;
  height: 72px;
  border-radius: 20px;
}

.large,
.xlarge {
  background-color: var(--controls-inactive);
}

.neutral {
  color: var(--icon-primary);
}

.secondary {
  background-color: var(--background-secondary);
  color: var(--icon-themed);
}

.themed {
  color: var(--icon-themed);
}

.positive {
  color: var(--icon-positive);
}

.negative {
  color: var(--icon-negative);
}

.promo {
  color: var(--promo-text-step-1);
}
