.Page {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
  padding: 16px 16px 24px;

  h1,
  h2 {
    margin: 0;
  }
}

.Grow {
  flex: 1;
  min-width: 0;
}

.Flats {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.Flat {
  padding: 6px 12px;
  border-radius: 12px;
  background-color: var(--background-card);
}
