.BottomSheet {
  box-sizing: border-box;
  margin: auto auto 0;
  width: 100%;
  max-width: none;
  padding: 20px 16px;
  border: none;
  border-radius: 20px 20px 0 0;
  background-color: var(--background-card);
  color: var(--text-primary);

  &::backdrop {
    background-color: rgb(0 0 0 / 40%);
  }
}
