.TabBar {
  position: sticky;
  bottom: 0;
  z-index: 2;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--divider-primary);
  background-color: var(--background-primary);
}

.Tab {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  min-height: 48px;
  color: var(--icon-tertiary);
  text-decoration: none;
}

.TabActive {
  color: var(--button-primary);
}

.Tabs {
  display: flex;
  padding: 4px 0;

  * + & {
    border-top: 1px solid var(--divider-primary);
  }
}

.SheetTitle {
  margin: 0;
}

.Orgs {
  overflow: hidden;
  border-radius: 16px;
  background-color: var(--background-secondary);
}
