.AdminTabBar {
  position: sticky;
  bottom: 0;
  z-index: 2;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--divider-primary);
  background-color: var(--background-primary);
}

.Exit {
  display: flex;
  height: 34px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--text-primary);
}

.Tabs {
  display: flex;
  padding: 8px 0;
  border-top: 1px solid var(--divider-primary);
}

.Tab {
  display: flex;
  flex: 1;
  min-width: 0;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  color: var(--icon-tertiary);
  text-decoration: none;
}

.TabActive {
  color: var(--button-primary);
}

.Label {
  font-size: clamp(9px, 2.7vw, 10px);
  line-height: 12px;
  white-space: nowrap;
}
