.Page {
  flex: 1;
  gap: 20px;
  padding: 16px 16px 24px;

  h2 {
    margin: 0;
  }

  .Grow {
    flex: 1;
    min-width: 0;
  }

  .Parent {
    color: var(--text-themed);
    text-decoration: none;
  }

  .Responsible {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    border-radius: 16px;
    background-color: var(--background-card);
  }

  .RowIcon {
    flex-shrink: 0;
    color: var(--icon-tertiary);
  }

  .Call {
    color: inherit;
    text-decoration: none;
  }
}
